
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontPage.cshtml";

}
<div class="d-flex justify-content-between align-items-center mb-4 active">
    <h3 class="section-title">商品列表</h3>
    <div class="d-flex">
        <div class="input-group" style="width: 300px;">
            <input type="text" class="form-control" placeholder="搜索商品...">
            <button class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>
<div class="row" id="productList">
    商品将通过JS动态加载
</div>

<script>

</script>
